@page "/ResendToken"
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<h3>ResendConfirmationEmailToken</h3>

@code {
    private bool loadig;
    private EmailDto emailDto = new();

    private async Task ResendConfirmationTokenAsync()
    {
        loadig = true;
        var httpResponse = await repository.Post("/account/ResendToken", emailDto);
        if (httpResponse.Error)
        {
            string? message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            loadig = false;
            return;
        }
        
        loadig = false;
        await sweetAlertService.FireAsync("Confirmacion", "Se te ha reenviado un correo de confirmacion", SweetAlertIcon.Info);
        navigationManager.NavigateTo("/");
    }
}
