@page "/Cities/create/{StateId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Ciudad</h3>

<CityForm @ref="cityForm" City="city" OnValidSubmit="Create" ReturnAction="Back"></CityForm>

@code {
    private CityDto city = new();
    private CityForm? cityForm;

    [Parameter]
    public int StateId { get; set; }

    private async Task Create()
    {
        Console.WriteLine(StateId);
        city.StateId = StateId;
        var httpResponse = await repository.Post("cities", city);
        if (httpResponse.Error)
        {

            Console.WriteLine(city);
            string? message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await sweetAlertService.FireAsync("Registrada", "La ciudad fue registrada", SweetAlertIcon.Success);
        Back();
    }

    private void Back()
    {
        cityForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo($"states/details/{StateId}");
    }
}
