@typeparam TItem

@if (MyList is null)
{
    @if (Loading is null)
    {
        <MudProgressCircular Color="Color.Success" Indeterminate="true" />
    }
    else
    {
        @Loading
    }
}
else if (MyList.Count == 0)
{
    @if (NoRecords is null)
    {
        <p>No hay registro para mostrar</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}

@code {
    [Parameter]
    public RenderFragment? Loading { get; set; }
    [Parameter]
    public RenderFragment? NoRecords { get; set; }
    [Parameter]
    [EditorRequired]
    public RenderFragment? Body { get; set; }
    [Parameter]
    public List<TItem>? MyList { get; set; }
}
