@page "/states/create/{CountryId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Estado/Departamento</h3>

<StateForm @ref="stateForm" State="state" OnValidSubmit="Create" ReturnAction="Back"></StateForm>

@code {
    private StateForm? stateForm;
    private StateDto state = new();

    [Parameter]
    public int CountryId { get; set; }
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task Create()
    {
        state.CountryId = CountryId;
        var httpResponse = await repository.Post("states", state);
        if (httpResponse.Error)
        {
            string? message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await BlazoredModal.CloseAsync(ModalResult.Ok());
        await sweetAlertService.FireAsync("Registrado", "El Estado fue Registrado", SweetAlertIcon.Success);
        Back();
    }

    private void Back()
    {
        stateForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo($"countries/details/{CountryId}");
    }
}
