@page "/"

<AuthorizeView>
    <Authorized>
        <p>Bienvenido @context.User.Identity?.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>
</AuthorizeView>